* {
  width: 80%;
  margin: 0 auto;
}

body {
  background-color: purple;
  font-family: Helvetica, sans-serif;
}

h1 {
  padding: 15px;
  color: white;
  border-bottom: dashed;
}

section {
  padding: 15px;
  padding-top: 5 px;
  border-style: solid;
  border-radius: 15px;
  border-width: 1px;
}

#information {
  text-decoration: none;
  border-style: solid;
  border-radius: 15px;
  border-width: 1px;
  margin: 5px;
  padding: 2px;
  background-color: white;
  color: black;
  transition: 0.5s padding;
}

#information:hover {
  background-color: rgba(255, 255, 255, 0.475);
  padding: 3px;
}

ul {
  font-style: italic;
}

footer {
  padding: 30px;
}

#bear {
  background-color: aqua;
}

#giraffe {
  background-color: aquamarine;
}

#lion {
  background-color: yellow;
}

#monkey {
  background-color: orange;
}

#alligator {
  background-color: red;
}
